{% extends "base.html" %}
{% block nav %} 
<nav id="fh5co-menu-wrap" role="navigation">
	<ul class="sf-menu" id="fh5co-primary-menu">
		<li class="active"><a href="{{ url_for('buscar_reserva') }}">Mi reserva</a></li>
	</ul>
</nav>
{% endblock %}
{% block title %}Fiuba Airlines{% endblock %}
{% block body %} 
		<style>
			.checkin{
				margin-bottom: 50px;
			}
			.entrada{
				margin-top: 3%;
			}
			
		</style>

		<!-- end:header-top -->
	
		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/cover_bg_1.jpg);">
				<div class="desc">
					<div class="container">
						<div class="row">
							<div class="col-sm-6 col-md-6 ">
								<div class="tabulation animate-box entrada">

								  <!-- Nav tabs -->
								   <ul class="nav nav-tabs" role="tablist">
								      <li role="presentation" class="active">
								      	<a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">Flights</a>
								      </li>
								 
								   </ul>

								   <!-- Tab panes -->
									<div class="tab-content">
									 	<div role="tabpanel" class="tab-pane active" id="flights">
											<div class="row">
												<form action="{{url_for('home')}}" method="post">
												<div class="col-sm-12 mt">
													<section>
														<label for="class">Desde:</label>
														<select class="cs-select cs-skin-border" name="desde">
															<option value=""  disabled selected>Provincia</option>
															<option value="BUE">Buenos Aires</option>
														</select>
													</section>
													{% if error_vacio and error_vacio.get("desde") %}
														<div class="alert alert-danger">{{ error_vacio.get("desde") }}</div>
													{% endif %}
												</div>
												<div class="col-xxs-12 col-xs-6 mt checkin">
													<section>
														<label for="class">Hasta:</label>
														<select class="cs-select cs-skin-border" name="hasta">
															<option value="" disabled selected>Provincia</option>
															<option value="COR" >Cordoba</option>
															<option value="BCR" >Bariloche</option>
															<option value="MDZ" >Mendoza</option>
															<option value="USH" >Ushuaia</option>
															<option value="NQN" >Neuquen</option>
															<option value="SLA" >Salta</option>
														</select>
													</section>
													{% if error_vacio and error_vacio.get("hasta") %}
														<div class="alert alert-danger">{{ error_vacio.get("hasta") }}</div>
													{% endif %}
												</div>
												<div class="col-xxs-12 col-xs-6 mt alternate checkin">
													<div class="input-field">
														<label for="date-start">Check In:</label>
														<input type="text" class="form-control" id="date-start" placeholder="mm/dd/yyyy" name="fecha"/>
														{% if error_vacio and error_vacio.get("fecha") %}
														<div class="alert alert-danger">{{ error_vacio.get("fecha") }}</div>
														{% endif %}
													</div>
												</div>
												<div class="col-xs-12">
													<input type="submit" class="btn btn-primary btn-block" value="Search Flight">
												</div>
												</form>
											</div>
									 	</div>
									</div>
								</div>
							</div>
							<div class="desc2 animate-box">
								<div class="col-sm-6 col-sm-push-1 col-md-6 col-md-push-1">
									<h2>¡¡Elegi Tu Vuelo Ideal!!</h2>	
									</br>
									<h3>¡¡Promociones exclusivas!!</h3>	
									<span class="price">Desde $100.000</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		
		<div id="fh5co-tours" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Viajes Recomendados</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
						<div href="#"><img src="{{url_for('static', filename='/images/bariloche.jpg', _external=True)}}" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
							<div class="desc">
								<span></span>
								<h3>Bariloche</h3>						
								<span class="price">$100.000</span>
								<a class="btn btn-primary btn-outline" href="#">Ordene ahora <i class="icon-arrow-right22"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
						<div href="#"><img src="{{url_for('static', filename='/images/cordoba.jpg', _external=True)}}" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
							<div class="desc">
								<span></span>
								<h3>Cordoba</h3>
								
								<span class="price">$100.000</span>
								<a class="btn btn-primary btn-outline" href="#">Ordene ahora<i class="icon-arrow-right22"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
						<div href="#"><img src="{{url_for('static', filename='/images/mendoza.webp', _external=True)}}" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
							<div class="desc">
								<span></span>
								<h3>Mendoza</h3>
								<span class="price">$100.000</span>
								<a class="btn btn-primary btn-outline" href="#">Ordene ahora <i class="icon-arrow-right22"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-12 text-center animate-box">
						<p><a class="btn btn-primary btn-outline btn-lg" href="#">Vea todas las ofertas <i class="icon-arrow-right22"></i></a></p>
					</div>
				</div>
			</div>
		</div>
	

	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="{{url_for('static', filename='/js/jquery.min.js', _external=True)}}"></script>
	<!-- jQuery Easing -->
	<script src="{{url_for('static', filename='/js/jquery.easing.1.3.js', _external=True)}}"></script>
	<!-- Bootstrap -->
	<script src="{{url_for('static', filename='/js/bootstrap.min.js', _external=True)}}"></script>
	<!-- Waypoints -->
	<script src="{{url_for('static', filename='/js/jquery.waypoints.min.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename='/js/sticky.js', _external=True)}}"></script>

	<!-- Stellar -->
	<script src="{{url_for('static', filename='/js/jquery.stellar.min.js', _external=True)}}"></script>
	<!-- Superfish -->
	<script src="{{url_for('static', filename='/js/hoverIntent.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename='/js/superfish.js', _external=True)}}"></script>
	<!-- Magnific Popup -->
	<script src="{{url_for('static', filename='/js/jquery.magnific-popup.min.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename='/js/magnific-popup-options.js', _external=True)}}"></script>
	<!-- Date Picker -->
	<script src="{{url_for('static', filename='/js/bootstrap-datepicker.min.js', _external=True)}}"></script>
	<!-- CS Select -->
	<script src="{{url_for('static', filename='/js/classie.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename='/js/selectFx.js', _external=True)}}"></script>
	
	<!-- Main JS -->
	<script src="{{url_for('static', filename='/js/main.js', _external=True)}}"></script>

	{% endblock %}

{% block footer %}
	<div>
		<footer id="info-footer">		
			<div>
				<h5 id="titulo-descripcion">Fiuba Airlines</h5>		
				<p id="descripcion">Somos más que una aerolínea, somos tu puente hacia el mundo. 
					En Fiuba Airlines, nos dedicamos a proporcionar experiencias 
					de viaje excepcionales, conectando a personas y culturas a 
					través de nuestros vuelos seguros, cómodos y eficientes.</p>
			</div>
			<div>
				<h5 id="titulo-contacto">Contactenos:</h5>	
				<p id="contacto">54 (11) 5199 3555 Lun a Vie de 8 a 20hs. Sáb, Dom y feriados de 8 a 14 hs.</p>	
			</div>						
		</footer>
	</div>
{% endblock %}
