{% extends "base.html" %}

{% block title %}Fiuba Airlines{% endblock %}

{% block body %} 
		

		<!-- end:header-top -->

		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/cover_bg_1.jpg);">
				<div class="desc">
					<div class="container">
						<div class="row">
							<div class="col-sm-5 col-md-12">
								<div class="tabulation animate-box">

								  <!-- Nav tabs -->
								   <ul class="nav nav-tabs" role="tablist">
								      <li role="presentation" class="active">
								      	<a href="#mi-reserva" aria-controls="mi-reserva" role="tab" data-toggle="tab">Reserva de viaje</a>
								      </li>
								 
								   </ul>

								   <!-- Tab panes -->
									<div class="tab-content">
										<div role="tabpanel" class="tab-pane active" id="infousuario">
										   <div class="row">
                                            <div class="col-xxs-12 col-xs-4 mt">
												<section>
													<label for="class">Pasajero:</label>
													<p id="resultado" class="info">{{ nombre }} {{ apellido }}</p>
												</section>
											</div>
                                            <div class="col-xxs-12 col-xs-4 mt">
												<section>
													<label for="class">DNI:</label>
													<p id="resultado" class="info">{{ dni }}</p>
												</section>
											</div>
											<div class="col-xxs-12 col-xs-4 mt">
												<div class="input-field">
													<label for="class">Número de vuelo:</label>
													<p id="resultado" class="info">{{ nro_vuelo }}</p>
												</div>
											</div>
											<div class="col-xxs-12 col-xs-4 mt">
												<section>
													<label for="class">Desde:</label>
													<p id="resultado" class="info">{{ciudad_origen}} ({{ origen }})</p>
												</section>
											</div>
											<div class="col-xxs-12 col-xs-4 mt alternate">
												<section>
													<label for="class">Hacia:</label>
													<p id="resultado" class="info">{{ciudad_destino}} ({{ destino }})</p>
												</section>
											</div>
											<div class="col-xxs-12 col-xs-4 mt alternate">
												<section>
													<label for="class">Duración:</label>
													<p id="resultado" class="info">{{ duracion }}</p>
												</section>
											</div>
											<div class="col-xxs-12 col-xs-4 mt">
												<div class="input-field">
													<label for="date-start">Precio del pasaje:</label>
													<p id="resultado" class="info">${{ precio }}</p>
												</div>
											</div>
											<div class="col-xxs-12 col-xs-4 mt">
												<div class="input-field">
													<label for="date-start">Partida:</label>
													<p id="resultado" class="info">{{ fecha_salida }} {{ hora_salida }}</p>
												</div>
											</div>
											<div class="col-xxs-12 col-xs-4 mt">
												<section>
													<label for="class">Arribo:</label>
													<p id="resultado" class="info">{{ fecha_llegada }} {{ hora_llegada }}</p>
												</section>
											</div>
											<div class="col-xs-12">
												<form action="{{url_for('mi_reserva', _external=True)}}" method="post">
													<button type="submit" class="btn btn-primary btn-block">Anular reserva</button>
												</form>
												</br>
												<a href="{{ url_for('buscar_reserva', _external=True)}}"><button class="btn btn-primary btn-block">Buscar otra reserva</button></a>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="{{url_for('static', filename='/js/jquery.min.js', _external=True)}}"></script>
	<!-- jQuery Easing -->
	<script src="{{url_for('static', filename='/js/jquery.easing.1.3.js', _external=True)}}"></script>
	<!-- Bootstrap -->
	<script src="{{url_for('static', filename='/js/bootstrap.min.js', _external=True)}}"></script>
	<!-- Waypoints -->
	<script src="{{url_for('static', filename='/js/jquery.waypoints.min.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename='/js/sticky.js', _external=True)}}"></script>

	<!-- Stellar -->
	<script src="{{url_for('static', filename='/js/jquery.stellar.min.js', _external=True)}}"></script>
	<!-- Superfish -->
	<script src="{{url_for('static', filename='/js/hoverIntent.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename='/js/superfish.js', _external=True)}}"></script>
	<!-- Magnific Popup -->
	<script src="{{url_for('static', filename='/js/jquery.magnific-popup.min.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename='/js/magnific-popup-options.js', _external=True)}}"></script>
	<!-- Date Picker -->
	<script src="{{url_for('static', filename='/js/bootstrap-datepicker.min.js', _external=True)}}"></script>
	<!-- CS Select -->
	<script src="{{url_for('static', filename='/js/classie.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename='/js/selectFx.js', _external=True)}}"></script>
	
	<!-- Main JS -->
	<script src="{{url_for('static', filename='/js/main.js', _external=True)}}"></script>

	{% endblock %}