{% extends "base.html" %}

{% block title %}Información del Pago - Fiuba Airlines{% endblock %}

{% block body %}

<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/cover_bg_1.jpg);">
        <div class="desc">
            <div class="container">
                <div class="row col-sm-6">
                    <div class="col-sm-12 col-md-12">
                        <div class="tabulation animate-box">

                          
                           <ul class="nav nav-tabs" role="tablist">
                              <li role="presentation" class="active">
                                  <a href="#info-pago" aria-controls="info-pago" role="tab" data-toggle="tab">Información del Pago</a>
                              </li>
                         
                           </ul>
                            <div class="tab-content">
                                 <div role="tabpanel" class="tab-pane active" id="flights">
                                    <div class="row">
                                        <form action="{{url_for('pago')}}" method="post">
                                        <div class="col-xxs-10">
                                            <section>
                                            <div class="input-field">
                                                <label for="class">Número de Tarjeta</label>
                                                <input type="text" class="form-control" id="numero-tarjeta" name="numero-tarjeta" placeholder="- - - - - - - - - - - - - - - -"/>
                                                {% if errores_validacion and errores_validacion.get("numero_tarjeta") %}
													<div class="alert alert-danger">{{ errores_validacion.get("numero_tarjeta") }}</div>
												{% endif %}
                                            </div>
                                            </section>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <section>
                                            <div class="input-field">
                                                <label for="class">Vencimiento (mes/año)</label>
                                                <input type="text" class="form-control" id="vencimiento" name="vencimiento" placeholder="mm/aa"/>
                                                {% if errores_validacion and errores_validacion.get("vencimiento") %}
													<div class="alert alert-danger">{{ errores_validacion.get("vencimiento") }}</div>
												{% endif %}
                                            </div>
                                            </section>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <section>
                                            <div class="input-field">
                                                <label for="class">Código de Seguridad (CVV)</label>
                                                <input type="text" class="form-control" id="codigo-seguridad" name="codigo-seguridad" placeholder="- - -"/>
                                                {% if errores_validacion and errores_validacion.get("codigo_seguridad") %}
													<div class="alert alert-danger">{{ errores_validacion.get("codigo_seguridad") }}</div>
												{% endif %}
                                            </div>
                                            </section>
                                        </div>
                                        <div class="col-xxs-10 mt alternate">
                                            <section>
                                            <div class="input-field">
                                                <label for="class">Titular de la Tarjeta</label>
                                                <input type="text" class="form-control" id="titular-tarjeta" name="titular-tarjeta" placeholder="Nombre y Apellido del pagador" />
                                                {% if errores_validacion and errores_validacion.get("nombre_titular") %}
													<div class="alert alert-danger">{{ errores_validacion.get("nombre_titular") }}</div>
												{% endif %}
                                            </div>
                                            </section>
                                        </div>
                                        <div class="col-xxs-10 mt alternate">
                                            <section>
                                            <div class="input-field">
                                                <label for="class">DNI del TItular de la tarjeta</label>
                                                <input type="text" class="form-control" id="dni-titular-tarjeta" name="dni-titular-tarjeta" placeholder="- - - - - - - -" />
                                                {% if errores_validacion and errores_validacion.get("dni_titular") %}
													<div class="alert alert-danger">{{ errores_validacion.get("dni_titular") }}</div>
												{% endif %}
                                            </div>
                                            </section>
                                        </div>
                                        
                                        <div class="col-xs-12">
                                            <input type="submit" class="btn btn-primary btn-block" value="Continuar">
                                        </div>
                                        </form>
                                    </div>
                                    
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row col-sm-6">
                    <div class="col-sm-12 col-md-12">
                        <div class="tabulation animate-box">

                          
                           <ul class="nav nav-tabs detalles" role="tablist">
                              <li role="presentation" class="active">
                                  <a href="#info-pago" aria-controls="info-pago" role="tab" data-toggle="tab">Detalles de facturación</a>
                              </li>
                         
                           </ul>
                            <div class="tab-content-detalles">
                                 <div role="tabpanel" class="tab-pane active" id="flights">
                                    <div class="row">
                                        <div class="col-xxs-6 col-xs-6 mt alternate">
                                            <section>
                                                <div class="col-xxs-12 col-xs-12 mt">
                                                    <div class="input-field text-center">
                                                        <label for="date-start">Nombre y apellido</label>
                                                        <p id="resultado">Juan Perez</p>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-xxs-6 col-xs-6 mt alternate">
                                            <section>
                                                <div class="col-xxs-12 col-xs-12 mt">
                                                    <div class="input-field text-center">
                                                        <label for="date-start">DNI</label>
                                                        <p id="resultado">12345678</p>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-xxs-6 col-xs-6 mt alternate">
                                            <section>
                                                <div class="col-xxs-12 col-xs-12 mt">
                                                    <div class="input-field text-center">
                                                        <label for="date-start">Fecha de salida</label>
                                                        <p id="resultado">20/07/2024</p>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-xxs-6 col-xs-6 mt alternate">
                                            <section>
                                                <div class="col-xxs-12 col-xs-12 mt">
                                                    <div class="input-field text-center">
                                                        <label for="date-start">Fecha de llegada</label>
                                                        <p id="resultado">20/07/2024</p>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-xxs-6 col-xs-6 mt alternate lugares">
                                            <section>
                                                <div class="col-xxs-12 col-xs-12 mt precio">
                                                    <div class="input-field text-center">
                                                        <label for="date-start">Origen</label>
                                                        <p id="resultado">Buenos Aires</p>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-xxs-6 col-xs-6 mt alternate lugares">
                                            <section>
                                                <div class="col-xxs-12 col-xs-12 mt precio">
                                                    <div class="input-field text-center">
                                                        <label for="date-start">Destino</label>
                                                        <p id="resultado">Cordoba</p>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>

                                        <div class="col-xxs-12 col-xs-12 mt precio">
                                            <div class="input-field text-center">
                                                <label for="date-start">Precio del pasaje:</label>
                                                <p id="resultado">$50000</p>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                    
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>   
                <style>
                    .tab-content-detalles {
                    padding: 2px;
                    }
                    .detalles, .lugares{
                        margin-bottom: 10px;
                    }
                    .precio{
                        margin-bottom: 0px;
                    }
                </style>             
            </div>
        </div>
    </div>
</div>

<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="{{url_for('static', filename='/js/jquery.min.js', _external=True)}}"></script>
	<!-- jQuery Easing -->
	<script src="{{url_for('static', filename='/js/jquery.easing.1.3.js', _external=True)}}"></script>
	<!-- Bootstrap -->
	<script src="{{url_for('static', filename='/js/bootstrap.min.js', _external=True)}}"></script>
	<!-- Waypoints -->
	<script src="{{url_for('static', filename='/js/jquery.waypoints.min.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename='/js/sticky.js', _external=True)}}"></script>

	<!-- Stellar -->
	<script src="{{url_for('static', filename='/js/jquery.stellar.min.js', _external=True)}}"></script>
	<!-- Superfish -->
	<script src="{{url_for('static', filename='/js/hoverIntent.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename='/js/superfish.js', _external=True)}}"></script>
	<!-- Magnific Popup -->
	<script src="{{url_for('static', filename='/js/jquery.magnific-popup.min.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename='/js/magnific-popup-options.js', _external=True)}}"></script>
	<!-- Date Picker -->
	<script src="{{url_for('static', filename='/js/bootstrap-datepicker.min.js', _external=True)}}"></script>
	<!-- CS Select -->
	<script src="{{url_for('static', filename='/js/classie.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename='/js/selectFx.js', _external=True)}}"></script>
	
	<!-- Main JS -->
	<script src="{{url_for('static', filename='/js/main.js', _external=True)}}"></script>


{% endblock %}